
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#wrapper{
    width: 629px;
    height: 859px;
    margin: 45px 655px 45px 655px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5) ;
}
#wrapper form{
    text-align: center;
}
#wrapper form IMG{
    margin-top: 100px;
    border-radius: 50%;
}
#wrapper form h1{
    font-size: 50px;
    color: white;
}
#wrapper form .user_name, .password{

}
#wrapper form i{
    font-size: 25px;
    color: white;
}
#wrapper form input[type=text], input[type=password]{
    width: 490px;
    height: 53px;
    font-size: 25px;
    border: none;
    margin-bottom: 40px;
    margin-left: 10px;
    background: none ;
    color: white;
    border-bottom: 2px solid white;
}
#wrapper form .forgot_password{
    text-align: right;
    margin-right: 50px;
    font-size: 23px;
    margin-bottom: 40px;
}
#wrapper form .forgot_password a{
    color: white;
}
a {
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: 20px;
}

#wrapper form .block a{
    text-decoration: none;
}
#wrapper form .submit input[type=submit]{
    width: 490px;
    height: 70px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
#wrapper form .submit input[type=submit]:hover{
    background-color: rgb(11, 170, 74);
}
#wrapper form .sign_up{
    font-size: 25px;
    margin-top: 40px;
}
#wrapper form .sign_up .txt{
    color: white;
}
#wrapper form .sign_up a{
    color: #db1a26;
}
#wrapper form .block a:hover{
    text-decoration: underline;
}
#wrapper form .block a:active{
    color: black;
}

.form_submit {
    display: inline-block;
    width: 490px;
    height: 70px;
    line-height: 70px;
    background: white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: none;
}
.form_submit:hover {
    background-color: #8d2a3a;
    color: white;
    text-decoration: none !important;
}
