body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main{

}
main #signup_container{
    width: 629px;
    height: 859px;
    margin: 45px 655px 45px 655px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5) ;
    text-align: center;
}
main #signup_container .signup_title{
    padding-top: 65px;
}
main #signup_container .signup_title IMG{
    border-radius: 50%;
}
main #signup_container .signup_title h1{
    color: white;
    font-size: 50px;
}
main #signup_container .form_input .input_field{
    width: 490px;
    height: 53px;
    font-size: 25px;
    border: none;
    margin-bottom: 40px;
    margin-left: 10px;
    background: none ;
    color: white;
    border-bottom: 2px solid white;
}
main #signup_container .form_input #submit{
    width: 490px;
    height: 70px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
main #signup_container .form_input #submit:hover{
    background-color: rgb(11, 170, 74);
}
main #signup_container .login_link{
    font-size: 25px;
    margin-top: 40px;
}
main #signup_container .login_link .txt{
    color: white;
}
main #signup_container .login_link a{
    text-decoration: none;
    color: #db1a26;
}
main #signup_container .login_link a:hover{
    text-decoration: underline;
    color: rgb(11, 170, 74);
}

